* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
    /* start NAVBAR */ 
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 10vh;
      max-width: 1366px;
      margin: 0 auto;
      padding: 0 5rem;
      background-color: rgb(237, 232, 226);
    }
    
    nav .logo {
      display: flex;
      font-size: 2rem;
      align-items: center;
    }
    
    nav .logo i {
      color: #6e0aef;
      padding-left: 0.75rem;
    }
    nav .bars-menu {
      display: none;
    }
    nav .logo h4 {
      font-family:"Work Sans", sans-serif ;
    }
    
    nav .nav-items {
      display: flex;
      list-style-type: none;
    }
    
    nav .nav-items .nav-item {
      padding: 0 1rem;
    }
    
    nav .nav-link {
      text-decoration: none;
      color: #4e547e;
      font-size: 1.4rem;
    }
    
    nav .nav-link:hover {
      color: #6e0aef;
    }
/*  End NAVBAR  */
 /*  Start Phones section */
 .newest-phones {
    padding-top: 5rem;
  }
  
  .newest-phones .phones-section {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
  }
  
  .phones-section h4 {
    color: #6e0aef;
    font-size: 3rem;
    display: flex;
    justify-content: center;
  }
  
  .phones-section .phones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-start;
  }
  
  .phones .phone {
    margin: 2rem 0;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .phone img {
    margin-bottom: 1rem;
  }
  
  .phone img:hover {
    scale: 1.1;
    cursor: pointer;
  }
  .phone h3 {
    font-size: 1.6rem;
  }
  
  .phones-section button {
    width: 12rem;
    height: 2rem;
    margin-bottom: 1rem;
    align-self: center;
    background-color: #9e35e0;
  }
   /*  End Phones section */
